

html, body {
    margin:0;
    padding:0;
    min-height: 100vh;
}

body {
    font-family: 'Share', sans-serif;
    /* background-image: url();
    background-size: cover;
    background-repeat: no-repeat; */
}

header {
    border-bottom: 1px solid black;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

/* structure classes */

.row {
    padding: .5rem;
}

button {
    margin: .5rem;
}


/* bottom of the page */

footer {
    position: fixed;
    z-index: 2;
    height: 2rem;
    width: 100%;
    margin: 0 auto;
    font-size: .75rem;
    border-top: 1px solid black;
}